.App {
  text-align: center;
}

.navbar {
  background-color: #001252;
  color: #fff;
  padding: 1rem;
  font-size: 1.25rem;
}
.navbar-locais {
  text-align: center;
  background-color: #1F5287;
  text-align: center;
  font-size: 1rem;
  
}

.rodape {
  background-color: #001252;
  color: #ffffff;
  text-align: center;
}

.texto-rodape-esquerda {
  font-size: 0.8rem;
}

.texto-rodape-direita {
  font-size: 1rem;
}

.footer {
  background-color: #001252;
  color: #ffffff;
  padding: 1rem;
}

.navbar-brand img {
  height: 60px;
  width: auto;
}

.nav-link {
  margin-right: 3rem;
}


/* AREA DO CEVS    */
/* AREA DO CEVS    */
/* AREA DO CEVS    */
.centro-destaque {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.centro-destaque img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centro-info {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 40%;

  padding: 80px 50px;

  color: white;

  background: linear-gradient(
    to right,
    rgba(0, 18, 82, 1.95),
    rgba(0, 18, 82, 0.8),
    transparent
  );
}

/* AREA DO CEVS    */
/* AREA DO CEVS    */
/* AREA DO CEVS    */