.App {
  text-align: center;
}

.navbar {
  background-color: #001252;
  color: #fff;
  padding: 1rem;
  font-size: 1.25rem;
}
.navbar-locais {
  text-align: center;
  background-color: #1F5287;
  text-align: center;
  font-size: 1rem;
  
}

.rodape {
  background-color: #001252;
  color: #ffffff;
  text-align: center;
}

.texto-rodape-esquerda {
  font-size: 0.8rem;
}

.texto-rodape-direita {
  font-size: 1rem;
}

.footer {
  background-color: #001252;
  color: #ffffff;
  padding: 1rem;
}

.navbar-brand img {
  height: 60px;
  width: auto;
}

.nav-link {
  margin-right: 3rem;
}


/* AREA DO CEVS    */
/* AREA DO CEVS    */
/* AREA DO CEVS    */ 
 
/* MELHRO TAMANHO DE IMAGEM 16:9    */ 
.centro-destaque {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.centro-destaque img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centro-info {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 40%;

  padding: 80px 50px;

  color: white;

  background: linear-gradient(
    to right,
    rgba(0, 18, 82, 1.95),
    rgba(0, 18, 82, 0.8),
    transparent
  );
}

/* AREA DO CEVS    */
/* AREA DO CEVS    */


/* area do eventos    */
/* =========================
   PÁGINA DE EVENTOS
   ========================= */

.eventos {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Título */
.eventos-titulo {
  margin-bottom: 30px;
}

/* Área que contém os cards e a foto */
.eventos-conteudo {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

/* =========================
   CARDS
   ========================= */

.eventos-lista {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.evento-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}
/* Quando passar o mouse */
.evento-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* Card selecionado */
.evento-card.ativo {
  background-color: #001252;
  color: white;
}
/* =========================
   FOTO
   ========================= */

.evento-fotos {
  width: 55%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}
/* Imagem */
.evento-fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Texto sobre a foto */
.evento-fotos-info {
  display: none;
}
/* =========================
   CELULAR
   ========================= */

@media (max-width: 768px) {

  .eventos-conteudo {
    flex-direction: column;
  }

  .eventos-lista {
    width: 100%;
  }

  .evento-fotos {
    width: 100%;
    height: 300px;
  }
}
/* area do eventos    */
.evento_fotos-info a {
  color: #001252;
  text-decoration: none;
  font-weight: bold;
}
